@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:
                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);*/

////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-basis:
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font: font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.outer-content-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify content: center;

}

.inner-content-container {
    display: flex;
    flex basis: 1400px;
    /*height: 600px;*/
    flex shrink: 1;
    flex grow: 0;
    flex direction: column;
    margin: 0 50px;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

.header-content_navigation {
    background: #4845E4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    widht: 100%;
}

.header-menu_list {
    background: #4845E4;
    color: white;
    flex-basis: 400px;
    min-height: 25px;
    flex-shrink: 1
    flex-grow: 0
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.header-menu_item_1 a  {
    color: white;
    text-decoration: none;
    text-style-type: none;
}

.header-menu_item_2 a {
    color: white;
    text-decoration: none;
}

.header-menu_item_3 a {
    color: white;
    text-decoration: none;
}

.header-content__cta {
    width: 100%;
    background: linear-gradient(0deg, rgba(87,34,205,1) 0%, rgba(72,69,228,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    bottom: 0;
}

.header-content__cta h1{
    font-family: Merriweather, sans-serif;
    color: #ffffff;
    font-size: 3.4rem;
    /*font-size: 60px;*/
    font-weight: 500;
    text-align: center;
}

.header-content__cta h2 {
    text-align: center;
    color: #ffffff;
    /*font-size: 1.75rem;*/
    font-size: 30px;
    font-weight: 300;
    line-height: 2em;
}

.button_cta {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    /*letter-spacing: 1px;*/
    background-color: #ed4385;
    border: #ed4385;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 21px 11px -10px rgb(0 0 0 / 20%);
    padding: 25px 40px 25px 40px;

}
.header_squiggle {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-top: 500px;
}

/* --------------- 4.2 Main ------------------------- */
.main-section {
    text-align: center;
    color: #4845E4;
    font-family: Merriweather, sans-serif;
    font-size: 1.87rem;
    font-weight: 500;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-section h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-top: 75px;
}

.main-section h4 a {
    color: #5722CD;
    text-decoration: none;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.case-studies-rolling-stone {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 50px;
}

.case-studies-rolling-stone h2 {
    font-family: Merriweather, sans-serif;
    font-weight: 500px;
    /*font-size: ;*/
}

.case-studies-rolling-stone h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.case-studies-rolling-stone h4 a {
    text-transform: uppercase;
    text-decoration: none;
    color: #5722CD;
}

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */
